# fly.toml app configuration file generated for portfolio-backend-y2lv8a on 2025-11-08T05:57:19Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'portfolio-backend-y2lv8a'
primary_region = 'iad'

[build]
  [build.args]
    GO_VERSION = '1.25.2'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
