app = "spenceralan-portfolio-backend"
primary_region = "sea"

[build]

[env]
  GO_VERSION = "1.25"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

  [[http_service.checks]]
    grace_period = "10s"
    interval = "30s"
    method = "GET"
    timeout = "5s"
    path = "/health"

[vm]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
